@charset "utf-8";
/* CSS Document */

main {
	padding-left: 50px;
}

.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.team {
    background-color: white;
    padding: 10px;
	width: 200px;
	height:175px;
	margin-left: 250px;
	margin-top: 20px;
	align-content: center;
    text-align: center;
    border-style: solid;
}

.resource {
    background-color: white;
    padding: 10px;
	margin-left:290px;
	width:200px;
	height: 175px;
    text-align: center;
    align-content: center;
    border-style: solid;
    margin-top: 20px;
}

.consult {
  background-color: white;
  width: 200px;
  height: 195px;
  border-style: solid;
  margin-left: 330px;
  margin-top: 20px;
  text-align: center;
}

.consultinfo {
    background-color: white;
    width: 840px;
    height: 175px;
    padding: 5px 10px 15px 20px;
    border-style: solid;
	margin-left: 250px;
    margin-top: 50px;
	text-align: left;
}

hr {
	color: black;
}


ul, #consulttree {
	list-style-type: none;
}

#consulttree {
	margin: 0;
	padding: 0;
}
.arrow {
	cursor:pointer;
	user-select:auto;
}

.arrow::before {
	content: "\25B6";
	color:black;
	display:inline-block;

}

.arrow-down::before {
	transform: rotate(90deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}




