@charset "utf-8";
/* CSS Document */
.header h1 {align-content: center;
		text-align: center;
		color: black;
}

.headernav {
	align-content: center;
	font-family: arial;
	background-color: black;
}

.headernav span {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display:block;
	text-align: right;
}

.headernav a {
	text-decoration: none;
	color: white;
	text-decoration-color: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headernav a:hover {
	background-color: grey;
	}

.headernav a:active {
	background-color:#ffc629;
}

.headernav a:visited {
	color: gray;
}

body {
	background-color: #ffc629;
}
